.PageWrapper header .logo {
  width: 200px;
  height: 70px;
  background-image: url('./logo.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}

.site-layout-background {
  background: #fff;
}

.PageWrapper .link-divided {
  border-bottom: 1px solid #f0f0f0;
}
