.card .card__image {
  width: 100%;
  margin-bottom: 10px;
}

.card .card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.card .card__footer__counter {
  display: flex;
  align-items: center;
}

.card .card__footer__user span:first-child {
  margin-right: 10px;
}

.card .card__footer__counter p {
  margin-right: 10px;
  margin-bottom: 0;
}

.card .card__footer__counter .counter * {
  font-size: 0.9rem;
}
